@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans bg-white text-zinc-950 antialiased selection:bg-black selection:text-white;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-sans tracking-tight;
    }
}